:root {
    background-color: #212223;
}

body {
    margin: 10px;
    align-items: center;
}

canvas#canvas {
    background-color: #34A4B6;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
